<section id="inicio" class="full-screen">
    <div class="hero-overlay"></div>
    <div class="container text-center position-relative z-index-2">
        
        <h1 class="hero-title">
            Segmentación de <span class="highlight">Riesgo</span> <br>
            <span class="highlight">Vial</span> en Bogotá
        </h1>
        
        <p class="hero-text mx-auto" style="max-width: 650px;">
            Ecosistema de analítica urbana. Integramos un <strong>Almacén Multidimensional OLAP</strong> con el poder predictivo de Orange, el procesamiento masivo de Spark y paneles interactivos en Power BI.
        </p>
        
        <a href="#descripcion" class="btn-empecemos">Empecemos</a>
    </div>
</section>